//@use '@angular/material' as mat;

.admin-wrapper {
  margin: 0 auto;
  width: 600px;
  color: white;
}


mat-mdc-form-field-infix ng-tns-c26-5 {
  color: white !important;
}
.mat-mdc-raised-button.color-button {
  background-color: white;
  color: purple;
  border: 1px solid orange;
}
