.admin-wrapper {
  position: relative;
  left: 10vw;
  right: 1px;
  width: 25vw;
  color: white;

}

.form {
  padding: 5px;
  width: 200px;
  color: white;
  position: relative;
  bottom: 10px;
  left: 10px;
}

.form-control {
  margin-bottom: 10px;
  color: white;
  width: 30cap;
  background-color: inherit;
}
//
.form-select {
  width: 30cap;
}

.submitter {
  margin-left: 100px;
}

