.admin-wrapper {
  //position: relative;
  //left: 10vw;
  //right: 1px;
  //width: 6vw;
  //color: white;

}
//
//.form {
//  padding: 5px;
//  width: 200px;
//  color: white;
//  position: relative;
//  bottom: 10px;
//}
//
.form-control {
  margin-bottom: 10px;
  color: white;
  width: 5cap;
  background-color: inherit;
}
//
.form-select {
  width: 5cap;
}

