.example-card {
  max-width: 400px;
  margin-left: 50px;
  margin-top: 50px;
  background-color: bisque;
  border-radius: 10px;
}

.example-header-image {
  background-image: url('/assets/4024.jpg');
  background-size: cover;
}
