.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('/assets/4024.jpg');
  background-size: cover;
}

.carousel{
  overflow: hidden;
  margin-right: 10px;
  margin-left: 50px;
  width: 2200px;

}

.slick-initialized .slick-slide {
  display: compact;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 70px;
  margin-right: 70px;

}

.slick-prev {
  color: white;
  margin-left: 20px;
}

.slick-next {
  color: white;
  margin-right: 70px;
}
.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.slick-slider {
  margin: auto;
}
