<ng-container class="mat-card-container">
  <mat-card class="example-card">
    <mat-card-header class="header">
      <div mat-card-avatar [style.background-image]="'url(' + book.authorDto.authorPhotoUrl + ')'" class="example-header-image"></div>
      <mat-card-title class="title-text">{{book.title}}</mat-card-title>
      <mat-card-subtitle>{{book.authorDto.firstName}}  {{book.authorDto.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{book.bookPhoto}}" alt="Photo of Book" class="content-image">
    <mat-card-content class="description">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="icons">
      <button mat-button>BUY</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
